/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Prop+Single:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/simpsonfont-3');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.logo-dash {
  transition: all 2s ease;
}

.logo-dash:hover {
  transform: rotateY(360deg);
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: white;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 100%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* ================================= */
/* PAGINA DOS GRÁFICOS 2023 */
/* ================================= */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 28px;
}

.header-left a:focus {
  outline: none;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2px;
  align-items: center;
  /* border-right: 3px solid #32b9cd; */
  background-color: #fffbd2;

  box-shadow: 5px 0 32px rgba(0, 0, 0, 0.650);
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #181816;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #cd3232;
  font-family: 'Simpsonfont';
  font-size: 62px;
  margin: 0;

  transition: transform 0.3s ease;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;

}

.hello h3 {
  color: #f6ba61;
  font-weight: 300;
  font-size: 42px;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 110%;
  color: white;
  font-weight: 100;
  background-color: #cd3232;
  border-radius: 5px 0 30px 0;
  text-align: center;
  padding: 5% 5%;

  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 5px 0 12px rgba(0, 0, 0, 0.650);
  transition: all 0.4s ease;
}

.btn-nav:hover,
.btn-nav-white:hover {
  transform: scale(1.05);
}

.btn-nav-white:hover {
  font-weight: 1000;
}

.btn-nav-white {
  width: 40%;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  transition: all 0.4s ease;
}

.btn-nav-white h3 {
  color: #cd3232;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 50%;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  background-color: #cd3232;
  /* background: url('https://usagif.com/wp-content/uploads/gif/beer-10.gif'); */
  background-position: 20% 20%;
  color: white;
  border-radius: 20px 0 20px 0;

  /* -webkit-text-stroke: white 2px solid; */
  /* -webkit-text-stroke-color: white; Estiliza cor da borda no texto do button */
  /* -webkit-text-stroke-width: 1px; Esse coloca o tamanho da borda no texto button */
  text-align: center;
  padding: 20px 25px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: all 0.7s ease;
}

.btn-logout:hover {
  color: rgb(232, 232, 232);
  transform: scale(1.05);
  background-color: #9a2626;
}